:root {
    --color-background: #FFFFFF;
    --color-section-bg: #F5F5F5;
    --color-text-primary: #141111;
    --color-text-strong: #000000;
    --color-primary: #3A5A80;
    --color-secondary: #7FB3D5;
    --main-font: 'Cairo', sans-serif;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 0 5%;
    background-color: var(--color-section-bg);
    gap: 2rem;
  }

  .ModelViewerDiv{
    width: 100%;
    height: 80vh;
  }
  
  .hero-text {
    flex: 1;
    color: #141111;
    z-index: 3;
  }
  
  .hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #555;
    margin-top: 0px;
  }
  
  .hero-tagline {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #888;
  }
  
  .hero-model {
    flex: 1;
    height: 100vh;
    z-index: 2;
  }

  .CTAButton {
    background-color: var(--color-primary); /* اللون الأساسي */
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .CTAButton:hover {
    background-color: var(--color-secondary); /* لون عند المرور */
    transform: translateY(-2px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
  
  /* ✅ استجابة للموبايل */
  @media (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1rem 1rem;
      height: 100vh;
      padding: 0 5%;
      background-color: var(--color-section-bg);
      gap: 2rem;
    }
  

  .ModelViewerDiv{
    width: 100%;
    height: 50vh;
  }
    .hero-model {
      height: auto;
      width: 100%;
    }

    .hero-text {
        flex: none; /* ✅ أوقف التمدد */
        color: #1c1c1c;
        z-index: 2;
        margin-bottom: 0.5rem;
      }
    .hero-title {
      font-size: 2.5rem;
    }
  
    .hero-subtitle {
      font-size: 1.2rem;
    }
  
    .hero-tagline {
      font-size: 1rem;
    }
    .CTAButton {
        width: 90%;
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
      }
  }
  